.App {
  background-color: #26a69a;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.cards {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

@media (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
