input {
  height: 30px;
  border: none;
  text-align: center;
  font-size: 20px;
  outline: none;
}

button {
  width: 50px;
  height: 30px;
  background-color: tomato;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0;
  margin-top: 10px;
  outline: none;
  transition: background-color 0.4s;
  font-size: 20px;
}

button:hover {
  background-color: rgb(255, 67, 34);
}

.zero {
  width: 100%;
  background-color: rgb(47, 141, 204);
}

.zero:hover {
  background-color: rgb(31, 95, 138);
}

.home {
  margin-top: 10px;
  color: white;
  text-decoration: none;
}
