input {
  height: 30px;
  border: none;
}

button {
  width: 50px;
  height: 30px;
  background-color: tomato;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0;
  margin-top: 10px;
  outline: none;
  transition: background-color 0.4s;
}

button:hover {
  background-color: rgb(255, 67, 34);
}

.home {
  margin-top: 10px;
  color: white;
  text-decoration: none;
}
